.component{
    background-image: url('./bg3.jpg');
    background-position: center ;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    /* --direction:center; */
    
    }
    .signinbg{
      background-color: rgb(53, 52, 52);
      padding:20px;
      color:white;
      /* margin:-25px; */
      margin-left:-35px;
      border-bottom-right-radius: 10px; 
      border-top-left-radius: 10px;
      box-shadow: 1px 1px 10px gray;
    }
    .signin {
        position: absolute;
        /* margin-top: -22%; */
        height: 145%;
        width: 55%;
        padding:4%;
        transform: translate(40vh,-18vh) ;
        /* transition:all 500ms ease-in-out; */
        /* transition-delay: 500ms */
      }
      
       /* .signin-enter {
        opacity: 0;
        transform:translate(40vh,-20vh) scale3d(0.1,0.1,0.1);
        transition:all 200ms linear;
      }
     
      .signin-enter-active {
        opacity: 0.2;
        transform:translate(40vh,-20vh)  scale3d(0.4,0.4,0.4);
        transition:all 200ms linear;
        
      }
      .signin-enter-done{
        opacity:1;
        transform:translate(40vh,-20vh)  scale3d(1,1,1);
        transition:all 1000ms linear;
        
      }
      .signin-exit {
        opacity: 0;
        transform:translate(40vh,-20vh) scale3d(0.1,0.1,0.1);
        transition: all 200ms linear ;
      }
      .signin-exit-active {
        opacity: 0;
        transform:scale3d(0.5,0.5,0.5);
        transition: all 200ms linear ;
      }
      
    .signin-exit-done{
        opacity:1;
        transform:translate(40vh,-25vh);
        transition:transform 1000ms linear;
      }  */
      /* .fade{
        transition-delay: 1000ms;
      } */
      .fade-enter {
        opacity: 0.01;
        transform: translateY(-10%);
        transition: all 100ms linear;
      }
      .fade-enter-active {
        opacity: 0.5;
        transform: translateY(30%);
        transition: all 500ms linear;
      }
      .fade-exit {
        opacity: 0.1;
        transform:scaleY(0.1);
        transition: all 50ms linear;
      }
      .fade-exit-active {
        opacity: 0.01;
        transform:scaleY(0.5);
        transition: all 50ms linear;
      }
      
     /* .si
     nein-exit {
        opacity: 0.3;
        transition: all 3000ms ease-in;
      }
      .signin-exit-active {
        opacity: 0;
        transition: all 300ms ease-in;
      } */

      /* translateX(45%) */