body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  }

a:link {
  color:rgb(10, 10, 175);
  text-decoration: none;
  padding-bottom: 6px;
}
a:hover {
  color: black;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}



/* a:visited {
  color:rgb(10, 10, 175);
} */

/* 
 a:focus{
  
 border-bottom: 2px solid black;
 box-shadow: 0px 2px 0.2 gray;

} */
/* .activeLink{
  
  border-bottom: 2px solid black;
  box-shadow: 0px 2px 0.2 gray;
}  */





/* 
a:active {
  color: black;
  
}  */
/* .componentOverlay{
  background-color:rgba(230, 21, 21, 0.9);
  height: 100vh;
  position: absolute;
z-index: -15;
margin: 0;
padding: 0;
} */